user=root
{{ range $index, $value := $ }}
  {{ $addrLen := len $value.Addresses }}
  {{ if ge $addrLen 0 }}
    {{ with $address := index $value.Addresses 0 }}
address=/{{$value.Name}}.jacob/{{$address.IP}}
address=/{{$value.Env.VIRTUAL_HOST}}.jacob/{{$address.IP}}
    {{ end }}
  {{ else }}
  {{ end }}
{{ end }}
